@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url(../fontes/Montserrat-Semibold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

$fonte-padrao: "Montserrat", 'sans serif';