@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Semibold.ttf);
  font-weight: 600;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans serif";
  background: eee; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

code,
kbd,
samp {
  font-family: monospace, monospace; }

dfn {
  font-style: italic; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

summary {
  display: list-item; }

.box-principal {
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.titulo-principal {
  color: white;
  padding: 3em;
  font-weight: 300;
  text-align: center; }

.titulo {
  color: #006fe6;
  padding: 1em; }

.menu-hamburger_fundo {
  width: 50px;
  height: 50px;
  background: #258bff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%; }

.linha-1 {
  width: 50%;
  height: 4px;
  border-radius: 5px;
  background: white;
  position: relative;
  bottom: 4px;
  transition: all 0.5s ease; }
  .linha-1_fechar {
    transform: rotate(135deg);
    position: relative;
    top: 4px; }

.linha-2 {
  width: 50%;
  height: 4px;
  border-radius: 5px;
  background: white;
  transition: all 0.3s ease; }
  .linha-2_fechar {
    width: 0; }

.linha-3 {
  width: 50%;
  height: 4px;
  border-radius: 5px;
  background: white;
  position: relative;
  top: 4px;
  transition: all 0.3s ease; }
  .linha-3_fechar {
    transform: rotate(45deg);
    position: relative;
    top: -4px; }

.grid {
  background: red;
  display: grid;
  grid-gap: 1em;
  grid-column: 1fr 1fr 1fr; }

.elemento-1 {
  background: blue; }

.elemento-2 {
  background: green; }

.elemento-3 {
  background: silver; }

.elemento-4 {
  background: yellow; }

.elemento-5 {
  background: pink; }

.elemento-6 {
  background: grey; }
