@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Semibold.ttf);
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans serif";
  background: eee; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

code,
kbd,
samp {
  font-family: monospace, monospace; }

dfn {
  font-style: italic; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

summary {
  display: list-item; }

header {
  background: #1D1D1B;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  header img {
    width: 16em; }

.texto-site {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .texto-site_titulo {
    color: white;
    position: relative;
    top: 160px;
    font-weight: 400;
    margin-bottom: 24px;
    font-size: 36px; }
  .texto-site_corpo {
    color: white;
    width: 400px;
    position: relative;
    top: 160px;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
    font-size: 18px; }
